*{
    background-color:#14213d;

 } 

.f p{
    color: aliceblue;
}

* .main{
    background-color:#132753;
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}
.f{
    padding-bottom: 10px;
}